header
    display: flex
    justify-content: space-between
    align-items: center
    .btn
        font-size: 16px
        line-height: 20px
        font-weight: 900
        max-width: 137px
        height: 34px
.navbar
    margin-left: 105px
    ul
        display: flex
        align-items: center
        justify-content: space-between
        gap: 21px
        li
            a
                font-weight: 900
                font-size: 16px
                line-height: 20px
                color: $main
.main-menu-btn-icon
    display: none
#menu-bar
	display: none