header 
    a.header__logo(href="#")
        img(src=img+"Vector 14.svg.png", alt="")
    .header__menu
        input(type="checkbox" id="menu-bar")
        label.main-menu-btn-icon(for="menu-bar")
        nav.navbar 
            ul 
                li
                    a(href="#") Услуги
                li
                    a(href="#") Мастера
                li
                    a(href="#") Отзывы
                li
                    a(href="#") Обучение
                li
                    a(href="#") Статьи
                li
                    a(href="#") Контакты
                li
                    a(href="#") Instagram
    a.btn(href="#") Записаться